<tb-header></tb-header>
<div class="masthead text-center text-white d-flex" style="margin-top: 150px">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Employee Management System</strong>
                </h1>
                <hr>
                <p class="text-faded mb-5">Click on Below link to see the record of Employees in Organization.</p>
                <p>Some Important Features of this App:</p>
                <ul>
                    <li>Add Employees</li>
                    <li>Delete Employees</li>
                    <li>Update Employees</li>
                    <li>Search Employees</li>
                </ul>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#/todo">Click Here</a>
            </div>
        </div>
    </div>
</div>