<tb-header></tb-header>
<div class="masthead text-center text-white d-flex" style="margin-top: 150px">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong translate="TITLE"></strong>
                </h1>
                <hr>
                <p class="text-faded mb-5" translate="c1"></p>
                <p translate="c2"></p>
                <ul>
                    <li translate="l1"></li>
                    <li translate="l2"></li>
                    <li translate="l3"></li>
                    <li translate="l4"></li>
                </ul>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#/todo" translate="BUTTON_CLICK"></a>
            </div>
        </div>
    </div>
</div>