<tb-header></tb-header>
<div class="col-xs-12">
    <form name="form">
        <div class="form-group">
            <div class="col-sm-4 input-group">
                <label class="col-sm-2" translate="name"></label>
                <input class="form-control" type="text" name="username" id="username"  placeholder="{{'namePlaceholder' | translate}}" ng-model="employee.username" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 input-group">
                <label class="col-sm-2" translate="email"></label>
                <input class="form-control" type="email" name="email" id="email" placeholder="{{'emailPlaceholder' | translate}}" ng-model="employee.email" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 input-group">
                <label class="col-sm-2" translate="phone"></label>
                <input class="form-control" type="text" name="phone" id="phone" placeholder="{{'phonePlaceholder' | translate}}" ng-model="employee.phone" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-2 col-md-2">
                <input type="submit" value="{{'saveButton' | translate}}" class="btn btn-success" ng-click="form.$valid && save($event)">
            </div>
        </div>
        <div class="form-group" style="margin-top: 30px" >
            <input class="form-control" type="text" ng-model="searchText.username"  placeholder="{{'searchPlaceholder' | translate}}">
        </div>
    </form>
</div>
<div class="col-xs-12 table"  >
    <table id="table1" class="table table-striped table-bordered table-condensed" >
        <tbody id="tableBody">
            <tr class="header">
                <th translate="name"><span class="caret"></span> </th>
                <th translate="email"><span class="caret"></span> </th>
                <th translate="phone"><span class="caret"></span> </th>
                <th translate="action"><span class="caret"></span> </th>
            </tr>
            <tr ng-repeat="item in list | filter: searchText">
                <td>
                    <span>{{item.username}}</span>
                </td>
                <td>
                    <span>{{item.email}}</span>
                </td>
                <td>
                    <span>{{item.phone}}</span>
                </td>
                <td>
                    <a href="#/todo/edit/{{item.id}}" class="btn btn-sm btn-default">
                        <span translate="edit"></span>
                    </a>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="removeItem(item)">
                        <span translate="delete"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>